@import "variables";
.about-me {
  background: #fff;
}
.textbox {
  display: flex;
  padding: 3rem 0;


  &__about {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem auto;
  font-family: $font1;
  width: 100%;
  margin: 0 1rem;

  &-text {
    text-align: center;
    color: $dark;
  }
  }
  &__subhead {
    text-align: center;
    font-size: $subhead;
    width: 100%;
    color: $darkest;
  }
}
.resume {
  text-align: center;
  padding: 2rem;
  &-link {
    text-decoration: none;
    color: $darkest;
    font-size: $subhead;
    border-bottom: .2rem solid $medium;
    &:hover {
      transform: scale(1.3);
      color: $medium;
      border-bottom: .2rem solid $darkest;
    }
  }
}
