@import "about";
@import "contact";
@import "landing";
@import "nav";
@import "projects";
@import "responsive";
@import "skills";
@import "variables";
html {
  --font1: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  --font2: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}
body{
  margin: 0;
  font-family: sans-serif;
  width: 100%;
  background: #000;
}
.hero {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 2rem;
  &__main {
    background: #eee;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
  }
  &__about {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    min-height: 75vh;
  }
  &.no-flex {
    display: block;
    padding: 0;
  }
  &__skills {
    padding: 3rem 2rem;
    flex-direction: column;
    min-height: 75vh;

  }
  &__contact {
    flex-direction: column;
    min-height: 75vh;
  }
  &__footer {
    padding: 1rem 2rem;
  }
}
.title {
  font-size: $heading;
  font-family: var(--font1);
  &__name {
    animation: fadeIn 2s forwards;
    color: $darkest;
    margin: 0;
    font-family: var(--font1);
    text-transform: uppercase;
    font-size: 3rem;
  }
  &__self {
    animation: fadeIn 3.5s forwards;
    color: $dark;
    font-family: var(--font1);
    font-size: $heading;
  }
  &__about {
    text-align: center;
    margin: 0;
    color: #fff;
    font-size: $heading;
    text-transform: uppercase;
  }
  &__project {
    text-align: center;
    margin: 0;
    color: $darkest;
    font-size: $heading;
    text-transform: uppercase;
  }
  &__skills {
    text-align: center;
    margin: 0;
    color: $darkest;
    font-size: $heading;
    text-transform: uppercase;
  }
  &__contact {
    text-align: center;
    margin: 0;
    color: $darkest;
    font-size: $heading;
    text-transform: uppercase;
  }
}
.titlebox {
  padding: 3rem 0;
}

@media screen and (max-width: 775px){
  .textbox__main {
      font-size: 1rem;
      color: red;
    }
  }
