@import "about";
@import "contact";
@import "landing";
@import "nav";
@import "projects";
@import "responsive";
@import "skills";
@import "variables";
body{
  margin: 0;
  font-family: sans-serif;
  width: 100%;
  background: #000;
}
.hero {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 2rem;
  &__main {
    background: #fff;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
  }
  &__about {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    min-height: 75vh;
  }
  &.no-flex {
    display: block;
  }
  &__skills {
    padding: 3rem 2rem;
    flex-direction: column;
    min-height: 75vh;

  }
  &__contact {
    flex-direction: column;
    min-height: 75vh;
  }
  &__footer {
    padding: 1rem 2rem;
  }
}
.title {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: $font2;
  &__name {
    animation: fadeIn 2s forwards;
    color: $darkest;
    margin: 0;
    font-family: $font1;
    text-transform: uppercase;
  }
  &__self {
    animation: fadeIn 3.5s forwards;
    color: $dark;
    font-family: $font1;
  }
  &__about {
    text-align: center;
    margin: 0;
    color: $darkest;
    font-size: $heading;
    text-transform: uppercase;
  }
  &__project {
    text-align: center;
    margin: 0;
    color: $darkest;
    font-size: $heading;
    text-transform: uppercase;
  }
  &__skills {
    text-align: center;
    margin: 0;
    color: $darkest;
    font-size: $heading;
    text-transform: uppercase;
  }
  &__contact {
    text-align: center;
    margin: 0;
    color: $darkest;
    font-size: $heading;
    text-transform: uppercase;
  }
  &__subtitle {
    font-size: $regular;
    font-style: italic;
    color: $dark;
    text-align: center;
    margin: .5rem 0;
  }
}
.titlebox {
  padding: 3rem 0;
}
