.hero__landing {
  width: 100%;
  height: 100vh;
  background-image: url('https://s-media-cache-ak0.pinimg.com/736x/cc/09/3e/cc093e9d78a02bc599bbcb9a151b2958.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.textbox__landing {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Cambria;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.greeting {
  animation: fadeIn 3s;
  color: #fff;
  font-size: 5rem;
  margin: 0;
}
@keyframes colors {
  0% {
    color: #4700a1;
  }
  30% {
    color: #1b2eb3;
  }
  100% {
    color: #4700a1;
  }
}
.home-link {
  animation: fadeIn 7s forwards;
  font-size: 3rem;
  text-decoration: none;
  color: #fff;

  &:hover {
    animation: colors 3s infinite;
    color: #4700a1;
  }
}
