@import "variables";

@keyframes wat {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes jump {
  0% {
    padding-bottom: 0;
  }
  25% {
    padding-bottom: .5rem;
  }
  50% {
    padding-bottom: 1rem;
  }
  75% {
    padding-bottom: .5rem;
  }
  100% {
    padding-bottom: 0;
  }
}
.main-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.textbox__main {
  width: calc(100% / 3);
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: right;
  position: relative;
  margin-right: 2rem;
}

.img-container {
  width: 400px;
  height: 400px;
  background-image: url('/images/mirrored.png');
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  border: .3rem solid $darkest;
  margin-right: 2rem;
}

.greeting {
  animation: wat 2s forwards;
  font-size: 3rem;
  text-transform: lowercase;
  color: $dark;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0%;
}

.span {
  &__name {
    animation: fadeIn 2.5s forwards;
  }
}
.first-letter {
  font-size: 2rem;
}
.top-arrow {
  position: absolute;
  left: 50%;
  top: 96%;
  transform: translate(-50%, -50%);
  color: $medium;
  text-align: center;
  z-index: 2;
}

.arrow {
  &:hover {
    animation: jump .7s infinite;
    color: $darkest;
    transform: scale(1.3);
  }
}
.bottom-arrow {
  &:hover {
    color: $darkest;
  }
}
