.hero__main {
  background-image: url('/images/first.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: scroll;
}
.textbox__main {
  width: calc(100% / 3);
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  text-align: right;
  position: relative;
}
@keyframes wat {
  from {
    opacity: 1;
    z-index: 1;
    transform: scale(1.5);
  }
  to {
    opacity: 0;
    z-index: -1;
    transform: scale(.001);
  }
}
.greeting {
  animation: wat 5s forwards;
  font-size: 4rem;
  color: #fff;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0%;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.title {

  &__name {
    animation: fadeIn 3s forwards;
    color: #fff;
    margin: 0;
  }

  &__self {
    animation: fadeIn 4s forwards;
    color: #fff;
    text-align: right;
  }

  &__about {
    margin: 0;
  }

  &__project {
    margin: 0 0 1rem 0;
    color: #fff;
  }

  &__contact {
    margin: 0;
  }
}
.about-me {
  background: #CFC9B4;
}
.hero {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 2rem;

  &.no-flex {
    display: block;
  }

  &__skills {
    padding: 3rem 2rem;
    flex-direction: column;
  }

  &__contact {
    flex-direction: column;
  }

  &__footer {
    padding: 1rem 2rem;
  }
}

/*media query make backgroud grow to right size*/

.textbox__about {
  width: calc(100% / 2);
  font-size: 1.5rem;
  min-width: 25rem;
  margin-right: 1rem;
  max-width: 30rem;
  flex-grow: 1;
}
.background__about {
  margin: 0;
  width: 100%;
  padding: 1rem 0;
}
.slideshow__about {
  width: calc(100% / 2);
  flex-grow: 1;
}

@keyframes slide {
  0% {
    background-image: url('https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/12141583_10153715602859510_8965068547305096883_n.jpg?oh=c1a5c26fdc9c1ea491af416a1a4519a8&oe=5877F3C0');
    background-size: cover;
    background-repeat: no-repeat;
  }
  50% {
    background-image: url("https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/12715621_10207229221721552_8951521647121534676_n.jpg?oh=82c00a2819cb16b68726699a30c9d251&oe=587DF3D3");
    background-size: contain;
    background-repeat: no-repeat;
  }
  100% {
    background-image: url('/images/code.png');
    background-size: cover;
    background-repeat: no-repeat;
  }

}
.slideshow__item {
  animation: slide 9s infinite;
  width: 100%;
  height: 100%;
  flex-grow: 1;
}
.slideshow__pic {
  width: 100%;
  height: inherit;
}
.projects {
  background: #291C08;
}

.project-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100vh;
  /*padding: 1rem 0;*/
  margin: -2rem;

  /*media query on margin*/
  &__item {
    position: relative;
    min-width: 25rem;
    height: 100%;
    max-height: 20rem;
    width: calc(100% / 2 - 2rem - 2rem);
    margin: 2rem;

    &::before {
      content: "";
      display: block;
      padding-top: calc(100% * 9 / 16);
    }
  }
  &__pic {
    position: absolute;
    object-fit: cover;
    top: 0;
    width: 100%;
    height: 100%;
    /*max-height: 20rem;*/
    display: block;
  }
}


.overlay {

  &__title {
    font-size: 2rem;
    margin: 0;
    padding: .5rem;
  }

  &__links {
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    padding: .5rem;
    margin-bottom: .5rem;

    &-button {
      min-width: 4rem;
      color: #CFC9B4;
      font-size: 1rem;
      text-align: center;
      border-radius: 3%;
      outline: none;
      border: none;
      background: #291C08;
      border-left: .3rem solid #BC6213;
      border-right: .3rem solid #BC6213;
      padding: .5rem 2rem;
      margin-bottom: .5rem;
    }
  }

  &__about {
    flex-grow: 1;
    font-size: 1.4rem;
    padding: .5rem;
    margin: 0;

  }

  &__puppies, &__twitch {
  display: flex;
  flex-direction: column;
  padding: 0 .5rem;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  opacity: 0;
  background: #B59961;
  color: #000;
  transition: opacity 800ms;


  &:hover {
    /*animation: display 1s forwards;*/
    opacity: .9;
  }
}
}

.skills {
  background: #B59961;
}
.skills__title {
  margin: 0;
}
.skills__container {
  display: flex;
  flex-wrap: wrap;
  min-width: 15rem;
}
.skills-list {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  &__section {
    width: calc(100% / 5);
    min-width: 8rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__item {
    font-size: 1.3rem;
    padding-top: .5rem;
    list-style: none;
  }
}
.contact {
  background: #CFC9B4;

  &__sources {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1rem;
  }
}
.box {
  min-width: 7rem;
  color: #CFC9B4;
  font-size: 1.2rem;
  text-align: center;
  border-radius: 3%;
  outline: none;
  border: none;
  background: #291C08;
  border-left: .3rem solid #BC6213;
  border-right: .3rem solid #BC6213;
  padding: 1rem 4rem;
  margin-bottom: .5rem;

}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.box__phone {
  position: relative;
  padding: 1rem 6rem;
  font-size: 1rem;

  &-text {
    margin: 0;
  &:hover {
    animation: hide 2s forwards;
  }
}
}
.isHideText {
  /*display: none;*/
}
.phone__show {
  position: absolute;
  top: 0%;
  left: 25%;
}
.isShowNumber {
  display: block;

}


footer {
  background: #291C08;
  color: #CFC9B4;

}
