.hero__main {
  background-image: url('/images/first.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: scroll;
}
.textbox__main {
  width: calc(100% / 3);
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  text-align: right;
  position: relative;
}
@keyframes wat {
  from {
    opacity: 1;
    z-index: 1;
    transform: scale(1.5);
  }
  to {
    opacity: 0;
    z-index: -1;
    transform: scale(.001);
  }
}
.greeting {
  animation: wat 3s forwards;
  font-size: 4rem;
  color: #CFC9B4;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0%;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.span {
  &__name {
    animation: fadeIn 2.5s forwards
  }
  &__self {
    animation: fadeIn 4s forwards
  }
}
.title {

  &__name {
    animation: fadeIn 2s forwards;
    color: #CFC9B4;
    margin: 0;
  }

  &__self {
    animation: fadeIn 3.5s forwards;
    color: #CFC9B4;
    text-align: right;
  }

  &__about {
    text-align: center;
    margin: 0 0 1rem 0;
    color: #291C08;
  }

  &__project {
    text-align: center;
    margin: 0 0 1rem 0;
    color: #CFC9B4;
  }
  &__skills {
    text-align: center;
    margin: 0;
    color: #291C08;
  }

  &__contact {
    text-align: center;
    margin: 0;
    color: #291C08;
  }
}
.about-me {
  background: #CFC9B4;
}
.hero {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 2rem;

  &__about {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
  }
  &.no-flex {
    display: block;
  }

  &__skills {
    padding: 3rem 2rem;
    flex-direction: column;
  }

  &__contact {
    flex-direction: column;
  }

  &__footer {
    padding: 1rem 2rem;
  }
}

/*media query make backgroud grow to right size*/

.textbox__about {
  max-width: 70rem;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-size: 1.3rem;
  min-width: 25rem;
  color: #291C08;
}
.background__about {

  &-left {
    margin: 0;
    width: 100%;
    text-align: right;
    padding: 0 1.5rem;
    border-right: .2rem solid #291C08;
    font-stretch: expanded;
  }

  &-right {
    margin: 0;
    width: 100%;
    padding: 0 1.5rem;
  }
}

.projects {
  background: #291C08;
}

.project-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -2rem;

  &__item {
    position: relative;
    flex-grow: 1;
    min-width: 25rem;
    height: 100%;
    max-height: 20rem;
    width: calc(100% / 2 - 2rem - 2rem);
    margin: 2rem;

    &::before {
      content: "";
      display: block;
      padding-top: calc(100% * 9 / 16);
    }
  }
  &__pic {
    position: absolute;
    object-fit: cover;
    top: 0;
    width: 100%;
    height: 100%;
    max-height: 20rem;
    display: block;
  }
}


.overlay {

  &__title {
    font-size: 2rem;
    margin: 0;
    padding: .5rem;
  }

  &__links {
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    padding: .5rem;

    &-button {
      min-width: 4rem;
      color: #CFC9B4;
      font-size: 1rem;
      text-align: center;
      border-radius: 3%;
      outline: none;
      border: none;
      background: #291C08;
      border-left: .3rem solid #BC6213;
      border-right: .3rem solid #BC6213;
      padding: .5rem 2rem;
      margin-bottom: .5rem;
    }
  }

  &__about {
    flex-grow: 1;
    font-size: 1.5rem;
    padding: .5rem;
    margin: 0;

  }

  &__projects {
  display: flex;
  flex-direction: column;
  padding: 0 .5rem;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  opacity: 0;
  background: #B59961;
  color: #000;
  transition: opacity 800ms;


  &:hover {
    opacity: .9;
  }
}
}

.skills {
  background: #B59961;
}
.skills__title {
  margin: 0;
}
.skills__container {
  display: flex;
  flex-wrap: wrap;
  min-width: 15rem;
}
.skills-list {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  color: #291C08;

  &__section {
    width: calc(100% / 5);
    min-width: 8rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__item {
    font-size: 1.3rem;
    padding-top: .5rem;
    list-style: none;
  }
}
.contact {
  background: #CFC9B4;

  &__sources {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1rem;
  }
}
.box {
  min-width: 7rem;
  color: #CFC9B4;
  font-size: 1.2rem;
  text-align: center;
  border-radius: 3%;
  outline: none;
  border: none;
  background: #291C08;
  border-left: .3rem solid #BC6213;
  border-right: .3rem solid #BC6213;
  padding: 1rem 4rem;
  margin-bottom: .5rem;

}

.box__phone {
  position: relative;
  padding: 1rem 6rem;
  font-size: 1rem;

  &-text {
    margin: 0;
}
}
.isHideText {
  /*display: none;*/
}
.phone__show {
  position: absolute;
  top: 0%;
  left: 25%;
}
.isShowNumber {
  display: block;

}


footer {
  background: #291C08;
  color: #CFC9B4;
  text-align: center;

}
@media only screen and (max-width: 1250px) {
  .skills-list {
    justify-content: center;
    margin-left: 1rem;

    &__section {
      margin-left: .5rem;
    }

    &__item {
      min-width: 10rem;
      font-size: 1rem;
    }
  }
}
@media only screen and (max-width: 600px) {
  .greeting {
    font-size: 2.5rem;
    position: absolute;
    top: 0;
    left: 10%;
  }
  .contact__sources {
    justify-content: center;
  }
  .hero {
    &__about, &__skills {
      padding: 1rem;
    }
  }
  .no-flex {
    padding: 1rem;
  }
  .textbox {

    &__main {
      margin-left: 1rem;
      min-width: 10rem;
    }

    &__about {
      font-size: 1rem;
      justify-content: none;
    }
  }
  .background__about {

    &-left {
      padding-left: 0;
      padding-right: .75rem;
    }
    &-right {
      padding-left: .75rem;
      padding-right: 0;
      margin-right: 1rem;
    }
    }
  .project-grid {
    margin-right: 1rem;
    &__item {

    }
  }
  .overlay {
    &__title {
      font-size: 1.3rem;
      text-align: center;
    }
    &__about {
      font-size: .8rem;
      padding: 0 .5rem;
    }
  }
  .skills-list {
    justify-content: center;
    margin-left: 1rem;

    &__section {
      margin-left: .5rem;
    }

    &__item {
      min-width: 10rem;
      font-size: 1rem;
    }
  }
}
