$darkest: #0E3063;
$dark: #1D447D;
$medium: #4D70A3;
$light: #7896C2;
$gray: #202020;
$font1: Helvetica, sans-serif;
$font2: Tahoma, sans-serif;
.hero {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 2rem;
  &__about {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
  }
  &.no-flex {
    display: block;
  }
  &__skills {
    padding: 3rem 2rem;
    flex-direction: column;
  }
  &__contact {
    flex-direction: column;
    min-height: 75vh;
  }
  &__footer {
    padding: 1rem 2rem;
  }
}
.title {
  border: .4rem double $medium;
  border-bottom: none;
  border-top: none;
  border-radius: 10%;
  padding: .1rem .7rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: $font2;
  &__name {
    animation: fadeIn 2s forwards;
    color: $light;
    margin: 0;
    font-family: $font1;
  }
  &__self {
    animation: fadeIn 3.5s forwards;
    color: $light;
    text-align: right;
    font-family: $font1;
  }
  &__about {
    text-align: center;
    color: $medium;
    padding: 2rem 0;
  }
  &__project {
    text-align: center;
    color: $medium;
    padding: 2rem;
  }
  &__skills {
    text-align: center;
    margin: 0;
    color: $medium;
    padding: 2rem 0;
  }
  &__contact {
    text-align: center;
    margin: 0;
    color: $medium;
  }
}
.nav {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  z-index: 100;
  font-family: $font1;
  text-transform: uppercase;
  &__innards {
    display: flex;
    justify-content: flex-end;
    background: #000;
    padding: 1.2rem;
    font-size: 1.1rem;
  }
  &__right {
    border: .4rem double $medium;
    border-bottom: none;
    border-top: none;
    border-radius: 7%;
    padding: .6rem 0;
  }
  &__links {
    color: $medium;
    text-decoration: none;
    padding: 0 1rem;
    margin: 0;
  }
}
.links__border {
  border-right: .2rem solid $medium;
}
.hero__main {
  background-image: url('/images/first.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
.filter {
  height: 100vh;
  width: 100%;
  background: $dark;
  opacity: .5;
  position: absolute;
  top: 0;
  left: 0;
}
.textbox__main {
  width: calc(100% / 3);
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  text-align: right;
  position: relative;
  text-transform: uppercase;
}
@keyframes wat {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.greeting {
  animation: wat 2s forwards;
  font-size: 3rem;
  text-transform: lowercase;
  color: $light;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0%;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.span {
  &__name {
    animation: fadeIn 2.5s forwards;
  }
}
.first-letter {
  font-size: 2rem;
}
.top-arrow {
  position: absolute;
  left: 50%;
  top: 96%;
  transform: translate(-50%, -50%);
  color: $light;
  text-align: center;
  z-index: 2;
}
@keyframes jump {
  0% {
    padding-bottom: 0;
  }
  25% {
    padding-bottom: .5rem;
  }
  50% {
    padding-bottom: 1rem;
  }
  75% {
    padding-bottom: .5rem;
  }
  100% {
    padding-bottom: 0;
  }
}
.arrow {
  &:hover {
    animation: jump .7s infinite;
    color: $dark;
    transform: scale(1.3);
  }
}
.bottom-arrow {
  &:hover {
    color: $light;
  }
}
.skills {
  background: $gray;
}
.skills-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 50%;
  margin: auto;
  color: $medium;
  padding: 3rem 0;
  &__section {
    min-width: 8rem;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  &__item {
    font-size: 1.3rem;
    padding-top: .5rem;
    list-style: none;
    background: $gray;
  }
}
.about-me {
  background: $gray;
}
.textbox__about {
  min-width: 15rem;
  max-width: 50rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 1rem auto;
  font-family: $font1;
  &-top {
    position: relative;
    min-width: 20rem;
    max-height: 10rem;
    width: 100%;
    margin: 1rem;
    background: $dark;
    font-size: 1.2rem;
  }
  &-left {
    position: relative;
    min-width: 20rem;
    height: 100%;
    max-height: 10rem;
    width: calc(100% / 2 - 2.4rem - 2.4rem);
    margin: 0 1rem;
    background: $dark;
  }
  &-block {
    border-right: .4rem solid $medium;
  }
  &-right {
    position: relative;
    min-width: 20rem;
    height: 100%;
    max-height: 10rem;
    width: calc(100% / 2 - 2.4rem - 2.4rem);
    margin: 0 1rem;
    background: $dark;
  }
  &-bottom {
    position: relative;
    min-width: 20rem;
    max-height: 10rem;
    width: 100%;
    margin: 1rem;
    font-size: 1.2rem;
    background: $dark;
  }
}
.overlay__about {
  &-text {
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: .5rem 1rem;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 2.4rem);
    height: calc(100% - 1.4rem);
    opacity: 0;
    background: $darkest;
    border: .2rem solid $medium;
    color: $medium;
    transition: opacity 500ms;
    &:hover {
      opacity: 1;
    }
  }
  &::before {
    content: "";
    display: block;
    padding-top: calc(100% * 9 / 16);
  }
}
.projects {
  background: $gray;
}
.project-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -2rem;
  font-family: $font1;
  &__item {
    position: relative;
    flex-grow: 1;
    min-width: 25rem;
    height: 100%;
    max-height: 20rem;
    width: calc(100% / 2 - 2.4rem - 2.4rem);
    margin: 2rem;
    &::before {
      content: "";
      display: block;
      padding-top: calc(100% * 9 / 16);
    }
  }
  &__pic {
    position: absolute;
    object-fit: cover;
    top: 0;
    width: 100%;
    height: 100%;
    max-height: 20rem;
    display: block;
  }
}
.overlay {
  &__title {
    font-size: 2rem;
    margin: 0;
    padding: .5rem;
  }
  &__links {
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    padding: .5rem;
    &-button {
      text-decoration: none;
      min-width: 4rem;
      color: $light;
      font-size: 1rem;
      text-align: center;
      border-radius: 3%;
      outline: none;
      border: none;
      background: $gray;
      border-left: .3rem solid $dark;
      border-right: .3rem solid $dark;
      padding: .5rem 2rem;
      margin-bottom: .5rem;
      &:hover {
        box-shadow: 1px 0px 8px 3px rgba(29, 68, 125, 1);
        transform: scale(1.1);
      }
    }
  }
  &__projects {
    display: flex;
    flex-direction: column;
    padding: 0 .5rem;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    opacity: 0;
    background: $medium;
    color: $gray;
    transition: opacity 500ms;
    box-shadow: 0px 1px 6px 3px rgba(77, 112, 163, 1);
    &:hover {
      opacity: .97;
    }
    &-about {
      flex-grow: 1;
      font-size: 1.4rem;
      padding: .5rem;
      margin: 0;
    }
  }
}
.contact {
  background: $darkest;
  min-height: 25vh;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  &__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    margin-top: 1rem;
    width: 100%;
  }
  &__item {
    min-width: 10rem;
    width: calc(100% / 3 - 3rem - 3rem);
    margin: 1rem;
    background: $dark;
    position: relative;
    color: #000;
    &-top {
      padding: 3rem;
      justify-content: center;
      text-align: center;
    }
    &-text {
      margin: 0;
      text-align: center;
      width: 100%;
      font-size: 1.5rem;
    }
  }
  &__link {
    text-decoration: none;
    color: inherit;
  }
}
.overlay__contacts {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background: $gray;
  color: #000;
  transition: opacity 500ms;
  &:hover {
    opacity: .9;
  }
  &-message {
    color: $medium;
    font-size: 1.5rem;
  }
}
.icons {
  width: 100%;
  font-size: 5rem;

  &__about {
    margin: 2rem;
    font-size: 5rem;
    text-align: center;
    vertical-align: middle;
  }
}
footer {
  background: #000;
  color: $medium;
  text-align: center;
  font-family: $font1;
}
@media only screen and (max-width: 1250px) {
  .skills-list {
    justify-content: center;
    &__item {
      min-width: 10rem;
    }
  }
  .overlay {
    &__title {
      font-size: 1.8rem;
      text-align: center;
    }
    &__projects-about {
      font-size: 1rem;
      padding: 0 .5rem;
    }
  }
}
@media only screen and (max-width: 927px) {
  .project-grid {
    justify-content: center;
  }
  .overlay {
    &__title {
      font-size: 2rem;
      text-align: center;
    }
    &__projects-about {
      font-size: 1.5rem;
      padding: 0 .5rem;
    }
    &__about {

      &-text {
        font-size: 1rem;
      }
    }
  }
  .skills-list {
    &__item {
      min-width: 10rem;
    }
  }
}
@media only screen and (max-width: 775px){
  .textbox__about {
    &-block {
      display: none;
    }
    &-left {
      flex-grow: 1;
      margin-bottom: 1rem;
    }
    &-right {
      flex-grow: 1;
    }
  }
}
@media only screen and (max-width: 600px) {
  .nav__innards {
    justify-content: center;
    flex-wrap: 1;
    padding: .7rem;
  }
  .nav__right {
    font-size: .8rem;
  }
  .nav__links-media {
    display: none;
  }
  .greeting {
    font-size: 2.5rem;
    position: absolute;
    top: 0;
    left: 10%;
  }
  .title {

  &__self {
    font-size: 1rem;
  }
  &__skills {
    margin-top: 3rem;
  }
  &__about {
    padding: 0;
    padding-bottom: 2rem;
    margin: 2rem 0;
  }
  &__project {
    padding: 0;
    padding: 2rem 0;
    margin: 2rem 0;
  }
  &__contact {
    padding: 2rem 0;
  }
  }
  .contact__sources {
    justify-content: center;
  }
  .hero {
    &__about, &__skills, &__projects {
      padding: 3rem .5rem;
    }
  }
  .no-flex {
    justify-content: center;
    padding: 1rem;
  }
  .textbox {
    &__main {
      margin-left: 1rem;
      min-width: 10rem;
    }
    &__about {
      font-size: 1rem;
      justify-content: none;
    }
  }
  .overlay__about {

    &-text {
      font-size: 1rem;

      &__media {
        font-size: .8rem;
      }
    }
  }
  .project-grid {
    justify-content: center;
    &__item {
      min-width: 22rem;
    }
  }
  .overlay {
    &__title {
      font-size: 1.3rem;
      text-align: center;
    }
    &__projects-about {
      font-size: .8rem;
      padding: 0 .5rem;
      text-align: center;
    }
  }
  .skills-list {
    justify-content: center;
    padding: 0;
    padding-bottom: 3rem;
    &__item {
      min-width: 10rem;
      font-size: .9rem;
    }
  }
  .nav__innards {
    justify-content: center;
  }
  .contact {
    &__grid {
      margin: 1.5rem 0;
      justify-content: space-between;
    }
    &__item {
      margin: .5rem 0;

      &-top {
        padding: 2rem;
      }
    }
  }
  .overlay__contacts {
    width: 100%;
  }
  .top-arrow {
    top: 96%;
    left: 50%;
    font-size: .8rem;
  }
  .hero__footer {
    padding: .5rem;
  }
}
@media only screen and (max-width: 414px) {
  .nav__innards {
    justify-content: center;
    flex-wrap: 1;
    padding: .7rem;
  }
  .nav__right {
    font-size: .8rem;
  }
  .nav__links-media {
    display: none;
  }
  .greeting {
    font-size: 2.5rem;
    position: absolute;
    top: 0;
    left: 10%;
  }
  .title {

  &__self {
    font-size: 1rem;
  }
  &__skills {
    margin-top: 3rem;
  }
  &__about {
    padding: 0;
    padding-bottom: 2rem;
    margin: 2rem 0;
  }
  &__project {
    padding: 0;
    padding: 2rem 0;
    margin: 2rem 0;
  }
  &__contact {
    padding: 2rem 0;
  }
  }
  .contact__sources {
    justify-content: center;
  }
  .hero {
    &__about, &__skills, &__projects {
      padding: 3rem .5rem;
    }
  }
  .no-flex {
    justify-content: center;
    padding: 1rem;
  }
  .textbox {
    &__main {
      margin-left: 1rem;
      min-width: 10rem;
    }
    &__about {
      font-size: 1rem;
      justify-content: none;
      &-left {
        width: 100%;
      }
      &-right {
        width: 100%;
      }
    }
  }
  .overlay__about {

    &-text {
      font-size: 1rem;

      &__media {
        font-size: .8rem;
      }
    }
  }
  .project-grid {
    justify-content: center;
    &__item {
      min-width: 22rem;
      width: 100%;
    }
  }
  .overlay {
    &__title {
      font-size: 1.3rem;
      text-align: center;
    }
    &__projects-about {
      font-size: .8rem;
      padding: 0 .5rem;
      text-align: center;
    }
  }
  .skills-list {
    justify-content: center;
    padding: 0;
    padding-bottom: 3rem;
    &__item {
      min-width: 10rem;
      font-size: .9rem;
    }
  }
  .nav__innards {
    justify-content: center;
  }
  .contact {
    &__grid {
      flex-wrap: wrap;
      margin: 1.5rem 0;
    }
    &__item {
      margin: .5rem 0;
      width: calc(100% / 2 - 1rem - 1rem);

      &-top {
        padding: 2rem;
      }
    }
  }
  .icons {
    font-size: 2rem;
  }
  .overlay__contacts {
    width: 100%;
  }
  .top-arrow {
    top: 96%;
    left: 50%;
    font-size: .8rem;
  }
  .hero__footer {
    padding: .5rem;
  }
}
