@import "variables";
.skills {
  background: #fff;
}
.skills-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  width: cal(100% / 3);
  margin: auto;
  padding: 3.5rem 0;
  &__section {
    width: calc(100% / 4);
    min-width: 10rem;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  &__category {
    font-size: $subhead;
    margin: 2rem 0 .5rem 0;
    color: $darkest;
    font-family: var(--font1);
  }
  &__item {
    font-family: var(--font2);
    font-size: $regular;
    padding-top: .5rem;
    list-style: none;
    color: $dark;
  }
  &__icons {
    color: #fff;
    min-width: 3rem;
    width: calc(100% / 5 - 1rem - 1rem);
    margin: auto;
    padding: 1rem;
    font-size: 2rem;
    border-radius: 50%;
    background: $medium;
  }
}
hr {
  align-items: center;
  color: $darkest;
  height: .2rem;
  border: none;
  width: 15%;
  background: $darkest;
}
