<div class="app__main">
  <div class="hero__main">
    <div class="textbox__main">
      <h1 class="greeting">welcome.</h1>
      <h1 class="title__name">Jeffrey Minbiole</h1>
      <h3 class="title__self">Web Developer</h3>
    </div>
  </div>
  <div class="about-me">
    <div class="hero">
      <div class="textbox__about">
        <h1 class="title__about">About Me</h1>
        <p class="background__about">I am a father of two boys and husband to a beautiful woman. I am a cook and a gaming nerd or enthusiast as I prefer. I love solving puzzles and the "think on your feet" of the multiplayer experience. I graduated from The Iron Yard in pursuit of a more fulfilling
          and rewarding career in the tech industry. Now, I am a web developer who loves coding and I use my love of video game problem solving and quick thinking to overcome issues that arise in code. I had very little coding experience prior to TIY
          but after working in the agile environment and learning directly from a senior developer, I have the skills to make a great addition to a team. I am Front End focused but plan on learning Back End too so I can be a jack of all trades.</p>
      </div>
      <div class="slideshow__about">
        <div class="slideshow__item">
        </div>
      </div>
    </div>
  </div>
  <div class="projects">
    <div class="hero">
      <h1 class="title__project">Projects</h1>
      <div class="project-grid">
        <div class="project-grid__item">
          <img class="project-grid__pic" src="https://s-media-cache-ak0.pinimg.com/564x/55/bf/e7/55bfe77d2f554f94f0c6e7bdd4dbc1de.jpg" alt="" />
        </div>
        <div class="project-grid__item">
          <img class="project-grid__pic" src="https://s-media-cache-ak0.pinimg.com/564x/55/bf/e7/55bfe77d2f554f94f0c6e7bdd4dbc1de.jpg" alt="" />
        </div>
        <div class="project-grid__item">
          <img class="project-grid__pic" src="https://s-media-cache-ak0.pinimg.com/564x/55/bf/e7/55bfe77d2f554f94f0c6e7bdd4dbc1de.jpg" alt="" />
        </div>
        <div class="project-grid__item">
          <img class="project-grid__pic" src="https://s-media-cache-ak0.pinimg.com/564x/55/bf/e7/55bfe77d2f554f94f0c6e7bdd4dbc1de.jpg" alt="" />
        </div>
        <div class="project-grid__item">
          <img class="project-grid__pic" src="https://s-media-cache-ak0.pinimg.com/564x/55/bf/e7/55bfe77d2f554f94f0c6e7bdd4dbc1de.jpg" alt="" />
        </div>
        <div class="project-grid__item">
          <img class="project-grid__pic" src="https://s-media-cache-ak0.pinimg.com/564x/55/bf/e7/55bfe77d2f554f94f0c6e7bdd4dbc1de.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="skills">
    <div class="hero hero__skills">
      <h1 class="skills__title">Skills</h1>
      <div class="skills-list">
        <div class="skills-list__section">
          <li class="skills-list__item">Ember</li>
          <li class="skills-list__item">Responsive Designs</li>
          <li class="skills-list__item">CSS and CSS frameworks</li>
          <li class="skills-list__item">Works Well Under Pressure</li>
        </div>
        <div class="skills-list__section">
          <li class="skills-list__item">JavaScript</li>
          <li class="skills-list__item">HTML</li>
          <li class="skills-list__item">CRUD Functionality</li>
          <li class="skills-list__item">Learns from Mistakes</li>
        </div>
        <div class="skills-list__section">
          <li class="skills-list__item">SASS</li>
          <li class="skills-list__item">Life Long Learner</li>
          <li class="skills-list__item">Management Experience</li>
          <li class="skills-list__item">Test Driven Development</li>
        </div>
        <div class="skills-list__section">
          <li class="skills-list__item">Github</li>
          <li class="skills-list__item">Resolving Merge Conflicts</li>
          <li class="skills-list__item">Adonis</li>
          <li class="skills-list__item">Heroku APIs</li>
        </div>
      </div>
    </div>
  </div>
  <div class="contact">
    <div class="hero hero__contact">
      <h1 class="title__contact">Contact Me</h1>
      <div class="contact__sources">
        <div class="box github">github</div>
        <div class="box linked">LinkedIn</div>
        <div class="box email">email</div>
        <div class="box phone">phone</div>
      </div>
    </div>
  </div>
  <footer>
    <div class="hero__footer">
      &copy; Jeffrey Minbiole 2016
    </div>
  </footer>
</div>

{{liquid-outlet}}
