<div class="app__main">
  <a name="top"></a>
  <div class="hero__main">
    <div class="top-arrow">
      <a href="#skills" class="nav__links">
        <p class="arrow" {{action "scrollToSkills"}}><i class="fa fa-chevron-circle-down fa-2x" aria-hidden="true"></i></p>
      </a>
    </div>
    <div class="filter">
  </div>
      <div class="textbox__main">
      <h1 class="greeting">welcome.</h1>
      <h2 class="title__name"><span class="first-letter">J</span>effrey <span class="span__name"><span class="first-letter">M</span>inbiole</span></h2>
      <h3 class="title__self">Web Developer</h3>
    </div>
  </div>
  <a name="skills"></a>
  <div class="skills" id="skills">
    <div class="hero hero__skills">
      <p class="title__skills"><span class="title">Strengths</span></p>
      <div class="skills-list">
        <div class="skills-list__section">
          <li class="skills-list__item">TDD</li>
          <li class="skills-list__item">Ember</li>
          <li class="skills-list__item">JavaScript</li>
          <li class="skills-list__item">CSS/SASS</li>
          <li class="skills-list__item">Fast Learner</li>
          <li class="skills-list__item">CRUD Features</li>
          <li class="skills-list__item">Communication</li>
          <li class="skills-list__item">Task Oriented</li>
        </div>
        <div class="skills-list__section">
          <li class="skills-list__item">Heroku APIs</li>
          <li class="skills-list__item">Frameworks</li>
          <li class="skills-list__item">Leadership</li>
          <li class="skills-list__item">Fixes Merge Issues</li>
          <li class="skills-list__item">Responsive Apps</li>
          <li class="skills-list__item">HTML5</li>
          <li class="skills-list__item">Github</li>
          <li class="skills-list__item">Adonis</li>
        </div>
      </div>
    </div>
  </div>
  <a name="about"></a>
  <div class="about-me" id="about">
    <div class="hero__about">
      <p class="title__about"><span class="title">Background</span></p>
      <div class="textbox__about">

        <div class="textbox__about-top">
          <p class="icons__about"><i class="fa fa-user" aria-hidden="true"></i></p>
          <div class="overlay__about">
            <p class="overlay__about-text overlay__about-text__media">Hello, my name is Jeff. I am a web developer in the Nashville area. I am a father and hisband who works hard for what he wants. I have great leadership and communication skills with a drive to succeed and grow as I continue coding through the years. I have been coding for a while now and I find it relaxing and enjoyable, even during the hang ups. When I am not coding I am spending time with my family or I am playing which every video game I am playing through. </p>
          </div>
        </div>

        <div class="textbox__about-left">
          <p class="icons__about"><i class="fa fa-gamepad" aria-hidden="true"></i></p>
          <div class="overlay__about">
            <p class="overlay__about-text">I am a game nerd and I have been one since I got an N64 when I was 8. Since then, I have fallen in love with so many different worlds, lived many lives and solved more puzzles than can be accounted for. I enjoy the challenges and I persist through the struggles until I accomplish my goals.</p>
          </div>
        </div>

        <div class="textbox__about-block"></div>

        <div class="textbox__about-right">
          <p class="icons__about"><i class="fa fa-money" aria-hidden="true"></i></p>
          <div class="overlay__about">
            <p class="overlay__about-text">I have worked in restaurants, retail and the financial world, all had great aspects but we ultimately unfulfilling. I worked my way up many management ladders and found the ceiling was a lot lower than I thought. I knew that it was time to find a rewarding career.</p>
          </div>
        </div>

        <div class="textbox__about-bottom">
          <p class="icons__about"><i class="fa fa-graduation-cap" aria-hidden="true"></i></p>
          <div class="overlay__about">
            <p class="overlay__about-text overlay__about-text__media">Now, I am a web developer who loves coding and I use my love of video game problem solving to overcome my coding challenges. I graduated from The Iron Yard in pursuit of a more fulfilling and rewarding career in the tech industry, bringing with me all the skills I have honed from my previous work. I am looking forward to contributing to the community with clean, organized code and growing it by showing my passion for coding to others.</p>
          </div>
        </div>

      </div>
    </div>
  </div>
  <a name="projects"></a>
  <div class="projects" id="projects">
    <div class="hero no-flex">
      <p class="title__project"><span class="title">My Work</span></p>
      <div class="project-grid">

        <div class="project-grid__item">
          <img class="project-grid__pic" src="/images/degenerator.png" alt="" />
          <div class="overlay__projects">
            <p class="overlay__title">The [de]generator</p>
            <p class="overlay__projects-about">This is a photo sharing experience app where users can upload an image that is affected by each view it recieves. Users set the type of degeneration (filters) and the number of views before the photo and it's comments are permanently removed
              from the server.</p>
            <div class="overlay__links">
              <a class="overlay__links-button" href="https://degenerator.surge.sh/">See Live</a>
              <a class="overlay__links-button" href="https://github.com/thedegenerator">See Code</a>
            </div>
          </div>
        </div>
        <div class="project-grid__item">
          <img class="project-grid__pic" src="/images/twitch.png" alt="" />
          <div class="overlay__projects">
            <p class="overlay__title">Twitch Clone</p>
            <p class="overlay__projects-about">In this project, I learned to observe a desired design and replicate it. I learned more about JavaScript and how to fetch from an API to retrieve the information I was looking for. I utilized my responsive designs and made use of media queries
              to create a dynamic, resizable clone.</p>
            <div class="overlay__links">
              <a class="overlay__links-button" href="http://jm-twitch.surge.sh/">See Live</a>
              <a class="overlay__links-button" href="https://github.com/jminbiole/09-twitch-search">See Code</a>
            </div>
          </div>
        </div>
        <div class="project-grid__item">
          <img class="project-grid__pic" src="/images/run-timer.png" alt="" />
          <div class="overlay__projects">
            <p class="overlay__title">Run Timer</p>
            <p class="overlay__projects-about">With this application I dove deeper into Ember.js development. This is an app which allows users to keep track of their run times and add notes about the run. I added an additional delete button that was not required so users could delete
              to keep their runs recent. When you click on the run, you can see the run and an edit feature.</p>
            <div class="overlay__links">
              <a class="overlay__links-button" href="#">See Live</a>
              <a class="overlay__links-button" href="https://github.com/jminbiole/19-run-timer">See Code</a>
            </div>
          </div>
        </div>
        <div class="project-grid__item">
          <img class="project-grid__pic" src="/images/puppies.png" alt="" />
          <div class="overlay__projects">
            <p class="overlay__title">Puppies</p>
            <p class="overlay__projects-about">Here, I learned how to create a CRUD app and how to toggle features. I furthered my knowledge of responsive design and how to implement user uploads. When a user changes the puppy's information or deletes a puppy, the changes stay after refreshing.</p>
            <div class="overlay__links">
              <a class="overlay__links-button" href="http://jm-puppies.surge.sh/">See Live</a>
              <a class="overlay__links-button" href="https://github.com/jminbiole/14-puppy-adoption">See Code</a>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>

  <a name="contact"></a>
  <div class="contact" id="contact">
    <div class="hero hero__contact">
      <p class="title__contact"><span class="title">Connect</span></p>
      <div class="contact__grid">
        <div class="contact__item">
          <a class="contact__link" href="https://github.com/jminbiole">
            <div class="contact__item-top"><i class="fa fa-github icons" aria-hidden="true"></i></div>
            <div class="overlay__contacts">
              <p class="overlay__contacts-message">See my code</p>
            </div>
          </a>
        </div>

        <div class="contact__item">
          <div class="overlay__contacts">
            <p class="overlay__contacts-message">615.788.4726</p>
          </div>
          <div class="contact__item-top"><i class="fa fa-mobile icons" aria-hidden="true"></i></div>
        </div>

        <div class="contact__item">
          <a class="contact__link" href="https://www.linkedin.com/in/jeff-minbiole-a46874b5">
            <div class="contact__item-top"><i class="fa fa-linkedin-square icons" aria-hidden="true"></i></div>
            <div class="overlay__contacts">
              <p class="overlay__contacts-message">Connect
                <br>with me</p>
            </div>
          </a>
        </div>

        <div class="contact__item">
          <a class="contact__link" href="https://twitter.com/minbiole_jeff">
            <div class="contact__item-top"><i class="fa fa-twitter icons" aria-hidden="true"></i></div>
            <div class="overlay__contacts">
              <p class="overlay__contacts-message">Follow</p>
            </div>
          </a>
        </div>

        <div class="contact__item">
          <a class="contact__link" href="mailto:minbiole.jeff@gmail.com?subject=Hello,%20Jeff!%20I%20like%20your%20portfolio!">
            <div class="contact__item-top"><i class="fa fa-envelope icons" aria-hidden="true"></i></div>
            <div class="overlay__contacts">
              <p class="overlay__contacts-message">minbiole.jeff
                <br>@gmail.com</p>
            </div>
          </a>
        </div>
        <div class="contact__item">
          <a class="contact__link" href="https://www.instagram.com/jeff_boy_r_dee/">
            <div class="contact__item-top"><i class="fa fa-instagram icons" aria-hidden="true"></i></div>
            <div class="overlay__contacts">
              <p class="overlay__contacts-message">Follow</p>
            </div>
          </a>
        </div>
      </div>
      <div class="top-arrow">
        <a href="#top" class="nav__links">
          <p class="arrow bottom-arrow" {{action 'toTop'}}><i class="fa fa-chevron-circle-up fa-2x" aria-hidden="true"></i></p>
        </a>
      </div>
    </div>
  </div>
  <footer>
    <div class="hero__footer">

      &copy; Jeffrey Minbiole 2016
    </div>
  </footer>
</div>

{{outlet}}
