<div class="app__landing">
  <div class="hero__landing">
    <div class="textbox__landing">
      <h1 class="greeting">welcome.</h1>
        {{#link-to "portfolio.main-page" class="home-link"}}
          <h3 class="home-link">let's take a trip</h3>
        {{/link-to}}
    </div>
  </div>
</div>


{{liquid-outlet}}
