<div class="app__main">
  <div class="hero__main">
    <div class="welcome__main">
      <div class="textbox__main">
        <h1 class="greeting__main">Jeffrey Minbiole</h1>
        <h3 class="self-title">Web Developer</h3>
      </div>
    </div>
  </div>
  <div class="about-me">
    <div class="hero__about">
      <div class="textbox__about">
        <h1 class="title__about">About Me</h1>
        <p class="background__about">I am a web developer who Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="about__pictures">
        <div class="frame__parent">
          {{#slick-slider autoplay=true arrows=false}}
            <div class="frame__slide"><img class="autoplay frame__slide-img" src="https://s-media-cache-ak0.pinimg.com/236x/0f/ca/94/0fca9410f129246c116d99b8d7791413.jpg" alt=""></div>
            <div class="frame__slide"><img class="autoplay frame__slide-img" src="http://opengameart.org/sites/default/files/styles/watermarked/public/forum-attachments/obama-speech-on-stage-funny-meme.jpg" alt=""></div>
          {{/slick-slider}}
        </div>
      </div>
    </div>
  </div>
</div>

{{liquid-outlet}}
