<div class="resume__hero">
  <header class="resume__head">
    <h2 class="header__name">Jeffrey Minbiole</h2>
    <div class="header__contact">
      <p class="header__phone">615.788.4726</p>
      <a href="mailto:minbiole.jeff@gmail.com?subject=Hello,%20Jeff!%20I%20like%20your%20portfolio!">
        <p class="header__email">minbiole.jeff@gmail.com</p>
      </a>
    </div>
  </header>
  <div class="resume__main">
    <div class="resume__hero">
      <h1 class="main__title">Education</h1>
      <h3 class="main__place">The Iron Yard Summer 2016</h3>
      <h4 class="main__position">Student</h4>
      <p class="main__about">I attended the Iron Yard after four months of self taught coding through online sources such as CodeCademy and Khan Academy. I enjoyed the experience of coding so much I knew that I wanted to do this for a career. I enrolled and started on my path to becoming a web developer. I learned from a senior developer in an agile environment and have been able to gain and hone my skills to create responsive and fluid websites and look forward to continuing this in my new career.</p>
    </div>
    <div class="main__job">
      <h1 class="main__title">Work Experience</h1>
      <h3 class="main__place">Advace Financial 2/2015 - 2/2016</h3>
      <h4 class="main__position">Branch Manager</h4>
      <p class="main__about">At Advance Financial, I worked my way up from a Customer Service Representative, the entry level position, to Branch Manager. I showed quick learning of their systems and procedures to excel from my current role to acend the management ladder. I focused on my skills in communication, leadership, store responsibility, time management and team building to help me grow my new store to a contender in the company. Through these skills, which are useful in any industry, I was able to lead my team to successfully meet and exceed our monthly goals.</p>
    </div>
    <div class="main__job">
      <h3 class="main__place">Jimmy John's 9/2011 - 2/2015</h3>
      <h4 class="main__position">Store Manager</h4>
      <p class="main__about">I worked my way through many rungs of the ladder at this company. I started out as a driver and worked into floating manager to full time 2nd assistant manager to 1st assistant and finally store manager. I learned how to manage not only shifts I was responsible for but also how to run an entire store. I hired employees and trained them to be the rock stars that they were and a few were offered management positions at other Jimmy John's location in the area. I set the standard high for how our customers were to be treated and gained my store many customers through different marketing techniques. I learned in this fast paced, highly stressful environment how to keep a cool head under pressure and delegate my employees to run our daily operations smoothly. </p>
    </div>
    <div class="main__job">
      <h3 class="main__place">GameStop 7/2007 - 6/2011</h3>
      <h4 class="main__position">Store Manager</h4>
      <p class="main__about">This was my first job and I Learned the basics of customer service as well as daily operations of a business. I started when I was 16 and I when I turned 18, I was offered my first management position. I was a floating manager betwen 5 locations and when a full time position opened up, I was the first canidate for it. I grew my skills in effective communication and customer service in this time as well leadership through training new employees. I was responsible for meeting deadlines for getting scans and counts finished which help to instill punctuality in me.</p>
    </div>
  </div>
</div>

{{liquid-outlet}}
